.row.content-title
  .col-sm-6
    %h3 Change Password

.row
  .col-xs-12

    - if current_user.errors.full_messages.length > 0
      .alert.alert-danger
        - current_user.errors.full_messages.each do |m|
          %p= m

    = form_for current_user, url: update_password_account_path, method: :put do |f|

      .form-group
        = f.label :current_password, "Current Password"
        = f.password_field :current_password, class: 'form-control'

      .form-group
        = f.label :password, "New Password"
        = f.password_field :password, class: 'form-control'

      .form-group
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation, class: 'form-control'

      = f.submit "Change Password", class: 'btn btn-primary'