%h3.content-title
  .row
    .col-sm-6
      %u Users
    .col-sm-6
      .pull-right
        %a.btn.btn-default{href: user_records_path(format: :xlsx)}
          %i.glyphicon.glyphicon-file
          Export List


.row
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-bordered.thumbnail-table
        %thead
          %tr
            %th= link_to "Email", user_records_path(:sort => :email, :sort_dir => (@sort_dir == "asc") ? "desc" : "asc")
            %th Recordings
            %th Status
            %th= link_to "Created At", user_records_path(:sort => :created_at, :sort_dir => (@sort_dir == "asc") ? "desc" : "asc")
            %th= link_to "Last Seen", user_records_path(:sort => :current_sign_in_at, :sort_dir => (@sort_dir == "asc") ? "desc" : "asc")
        %tbody
          - @users.each do |user|
            %tr
              %td.valign-middle= link_to user.email, user_path(user)
              %td.text-center= pluralize(user.recordings.active.length, "recording")
              %td.text-center.valign-middle
                - if user.invitation_accepted_at
                  Normal User
                - else
                  Invitation Pending
              %td.text-center= user.created_at
              %td.text-center= user.current_sign_in_at

  .text-center
    = will_paginate @users, renderer: BootstrapPagination::Rails
